*, *::after, *::before {
  box-sizing: border-box;
}

/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

body {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

html {
  font-size: 10px;
  scroll-behavior: smooth;
}

body {
  font-family: "Changa One", sans-serif;
}

p {
  font-family: "Ubuntu", sans-serif;
  font-size: 1.7rem;
  line-height: 2.8rem;
  font-weight: 350;
  padding: 10px;
}

a {
  color: inherit;
  text-decoration: none;
}

.col {
  width: 100%;
}
.col--50 {
  max-width: 50%;
  flex: 0 0 50%;
}
@media screen and (min-width: 768px) {
  .col--md50 {
    flex: 0 0 50%;
    max-width: 50%;
  }
}
@media screen and (min-width: 768px) {
  .col--md33 {
    flex: 0 0 33.333333%;
    max-width: 33.333333%;
  }
}
@media screen and (min-width: 768px) {
  .col--md25 {
    flex: 0 0 25%;
    max-width: 25%;
  }
}
@media screen and (min-width: 768px) {
  .col--md20 {
    flex: 0 0 20%;
    max-width: 20%;
  }
}
@media screen and (min-width: 768px) {
  .col--md60 {
    flex: 0 0 60%;
    max-width: 60%;
  }
}
@media screen and (min-width: 1240px) {
  .col--lg50 {
    flex: 0 0 50%;
    max-width: 50%;
  }
}
@media screen and (min-width: 1240px) {
  .col--lg33 {
    flex: 0 0 33.333333%;
    max-width: 33.333333%;
  }
}
@media screen and (min-width: 1240px) {
  .col--lg25 {
    flex: 0 0 25%;
    max-width: 25%;
  }
}

.container {
  width: 100%;
  padding: 0 15px;
  margin: 0 auto;
}
@media screen and (min-width: 768px) {
  .container {
    max-width: 740px;
  }
}
@media screen and (min-width: 1240px) {
  .container {
    max-width: 1120px;
  }
}

.row {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  margin: 0;
  padding: 15px;
}
@media screen and (min-width: 768px) {
  .row {
    flex-direction: row;
  }
}

.blackout {
  background-color: rgba(0, 0, 0, 0.3);
  width: 100%;
  height: 100%;
  position: absolute;
}

.heading--h1 {
  font-size: 4rem;
  line-height: 110%;
}
@media screen and (min-width: 768px) {
  .heading--h1 {
    font-size: 5rem;
  }
}
@media screen and (min-width: 1240px) {
  .heading--h1 {
    font-size: 6rem;
  }
}
.heading--h2 {
  color: white;
  font-size: 2rem;
}
@media screen and (min-width: 768px) {
  .heading--h2 {
    font-size: 2.5rem;
  }
}
.heading--h3 {
  color: black;
  font-size: 2.375rem;
  font-family: "Ubuntu", sans-serif;
}

.material-icons {
  color: white;
  font-size: 45px;
}

.nav, .nav-stick {
  display: flex;
  position: fixed;
  width: 100%;
  margin: 0;
  padding-left: 1px;
  padding-right: 1px;
}
@media screen and (min-width: 768px) {
  .nav, .nav-stick {
    padding-left: 30px;
    padding-right: 30px;
  }
}
@media screen and (min-width: 1240px) {
  .nav, .nav-stick {
    padding-left: 60px;
    padding-right: 60px;
  }
}
.nav-logo, .nav-stick-logo {
  margin-top: 17px;
}
@media screen and (min-width: 768px) {
  .nav-logo, .nav-stick-logo {
    margin-top: 10px;
  }
}
.nav-social, .nav-stick-social {
  display: flex;
  justify-content: flex-end;
  margin-top: 23px;
}
@media screen and (min-width: 768px) {
  .nav-social, .nav-stick-social {
    margin-top: 25px;
  }
}
.nav-social--arrow, .nav-stick-social--arrow {
  display: none;
}
@media screen and (min-width: 768px) {
  .nav-social--arrow, .nav-stick-social--arrow {
    display: block;
  }
}

.nav-stick {
  background-color: white;
  box-shadow: 0 0 35px black;
  height: 80px;
  opacity: 0;
  position: fixed;
  z-index: 3;
  transition: 0.5s;
}
.nav-stick-logo {
  color: black;
  margin-top: 17px;
}
@media screen and (min-width: 768px) {
  .nav-stick-logo {
    margin-top: 10px;
  }
}
.nav-stick-icon {
  color: black;
}
.nav-stick-display {
  opacity: 1;
}

.site {
  display: none;
}

.site-overlay {
  display: block;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  z-index: 1;
  transition: 0.5s ease-in-out;
}

.menu {
  position: fixed;
  width: 30rem;
  height: 100vh;
  background-color: white;
  z-index: 4;
  left: -300px;
  transition: 0.5s ease-in-out;
}
.menu-show {
  transform: translateX(300px);
}
.menu .material-icons {
  position: absolute;
  z-index: 3;
  cursor: pointer;
  top: 3rem;
  right: 2rem;
  color: black;
  font-size: 4rem;
}
.menu-box-left {
  margin-top: 150px;
  margin-left: 35px;
  font-family: "Ubuntu", sans-serif;
  font-size: 2rem;
  font-weight: 300;
}
.menu-box-left li {
  padding: 15px;
  transition: 0.5s;
}
.menu-box-left li:hover {
  font-weight: 700;
}

@media screen and (min-width: 768px) {
  .gallery-category {
    display: flex;
  }
}
@media screen and (min-width: 1240px) {
  .gallery-category {
    display: flex;
  }
}
.gallery-father {
  position: relative;
  overflow: hidden;
}
.gallery-img {
  display: block;
  max-width: 100%;
  height: auto;
  transition: 0.4s ease-in-out;
  cursor: pointer;
}
@media screen and (min-width: 1240px) {
  .gallery-img:hover {
    transform: scale(1.05);
  }
}
.gallery-caption, .gallery-captions {
  position: absolute;
  top: 50%;
  left: 50%;
  border: 2px solid #fff;
  color: #fff;
  background-color: transparent;
  padding: 10px 30px;
  text-align: center;
  font-family: "Ubuntu", sans-serif;
  font-size: 1.9rem;
  width: 55%;
  transform: translate(-50%, -50%);
}
@media screen and (min-width: 1240px) {
  .gallery-caption, .gallery-captions {
    width: 40%;
  }
}
.gallery-captions {
  width: 60%;
  background-color: rgba(0, 0, 0, 0.3);
  font-size: 1.6rem;
}

.figure {
  padding: 15px;
  overflow: hidden;
}

.site-header {
  background: url("../assets/img/bg_header.jpg") center/cover;
  height: 80vh;
  overflow: hidden;
  position: relative;
}
@media screen and (min-width: 768px) {
  .site-header {
    height: 95vh;
  }
}
.site-header__h1 {
  position: absolute;
  text-align: center;
  z-index: 1;
  margin-top: 10px;
  bottom: 52%;
  margin: 0 auto;
  left: 0;
  right: 0;
}
.site-header__p {
  position: absolute;
  text-align: center;
  z-index: 1;
  margin-top: 10px;
  bottom: 46%;
  margin: 0 auto;
  left: 0;
  right: 0;
}
.site-header__icon {
  margin-top: 20px;
  cursor: pointer;
}

.site-section {
  min-height: 20vh;
  padding-top: 60px;
}
@media screen and (min-width: 768px) {
  .site-section {
    padding-top: 130px;
    min-height: 20vh;
    padding-top: 100px;
  }
}
@media screen and (min-width: 1240px) {
  .site-section {
    min-height: 30vh;
    padding-top: 60px;
  }
}
.site-section--bg-color {
  background-color: #f3f2ef;
}
.site-section__h3 {
  margin: 0 auto;
  font-weight: 300;
}

.site-menu {
  min-height: 30vh;
}

.site-party {
  min-height: 50vh;
  padding-bottom: 50px;
}
.site-party-h2 {
  text-align: center;
  padding-top: 50px;
  font-size: 3.2rem;
}
@media screen and (min-width: 768px) {
  .site-party-h2 {
    padding-top: 100px;
  }
}
.site-party-h3 {
  text-align: center;
  padding-top: 25px;
  font-size: 2.3rem;
  font-family: "Ubuntu", sans-serif;
  font-weight: 300;
}
.site-party-padding {
  padding-left: 15px;
  padding-right: 15px;
}
.site-party-flex {
  display: flex;
  padding-top: 30px;
}
@media screen and (min-width: 768px) {
  .site-party-flex {
    padding-top: 70px;
  }
}

.site-work {
  min-height: 50vh;
  position: relative;
}
.site-work--bg {
  display: none;
}
@media screen and (min-width: 768px) {
  .site-work--bg {
    background: url("../../assets/img/bg_work.jpg") center/cover;
    width: 50%;
    height: 100%;
    display: block;
    overflow: hidden;
    position: absolute;
  }
}
.site-work--bgcolor {
  background-color: #053d2b;
}
.site-work--caption {
  text-align: center;
  padding-top: 70px;
  padding-bottom: 70px;
}
@media screen and (min-width: 768px) {
  .site-work--caption {
    position: absolute;
    top: 23%;
    left: 58%;
    padding-bottom: 70px;
  }
}
.site-work-h3 {
  color: white;
  font-size: 3.5rem;
  padding-bottom: 25px;
}
.site-work-h4 {
  color: white;
  font-size: 2.2rem;
  font-family: "Ubuntu", sans-serif;
  line-height: 3rem;
  font-weight: 300;
}
.site-work-button {
  background: none;
  font-family: "Ubuntu", sans-serif;
  font-size: 2rem;
  font-weight: 400;
  border: 2px solid white;
  color: white;
  padding: 10px;
  width: 70%;
  margin-top: 25px;
  cursor: pointer;
  transition: 0.5s ease-in-out;
}
.site-work-button:hover {
  background-color: white;
  color: black;
}

.site-qa {
  min-height: 40vh;
  padding-bottom: 70px;
}
@media screen and (min-width: 768px) {
  .site-qa-margin {
    margin-left: 100px;
    margin-right: 100px;
  }
}
@media screen and (min-width: 1240px) {
  .site-qa-margin {
    margin-left: 200px;
    margin-right: 200px;
  }
}
.site-qa-h3 {
  color: black;
  font-size: 3.5rem;
  padding-bottom: 25px;
  text-align: center;
  margin-top: 70px;
  padding-top: 30px;
}
.site-qa-h4 {
  color: black;
  font-size: 2.2rem;
  font-family: "Ubuntu", sans-serif;
  line-height: 3rem;
  font-weight: 350;
  margin: 0 auto;
  border-bottom: 2px solid rgba(0, 0, 0, 0.3);
  padding-bottom: 10px;
}

.site-promo {
  display: flex;
  padding-bottom: 70px;
}
.site-promo-img {
  width: 100%;
  height: 90%;
  padding: 12px;
}
.site-promo-h3 {
  color: black;
  font-size: 3.5rem;
  padding-bottom: 25px;
  text-align: center;
  padding-top: 30px;
}
.site-promo-h4 {
  color: black;
  font-size: 2.2rem;
  font-family: "Ubuntu", sans-serif;
  line-height: 3rem;
  font-weight: 300;
  text-align: center;
  padding-top: 10px;
  padding-bottom: 10px;
}

.site-kontakt {
  height: 45vh;
  display: flex;
  position: relative;
}
.site-kontakt-bg {
  background: url("../../assets/img/bg_kontakt.jpg") center/cover;
  width: 50%;
  height: 100%;
  overflow: hidden;
  position: relative;
}
.site-kontakt-caption {
  width: 50%;
  text-align: center;
  padding-top: 2%;
}
.site-kontakt-h3 {
  color: black;
  font-size: 3.5rem;
  padding-bottom: 25px;
}

.text-color-white {
  color: #fff;
  z-index: 1;
}

.text-bold {
  font-weight: bold;
}

.text-left {
  text-align: left;
}

.text-right {
  text-align: right;
}

.text-center {
  text-align: center;
}

.bg-gray {
  background-color: #f3f2ef;
}

/*# sourceMappingURL=style.css.map */
