@use '../01-settings/' as *;
@use '../02-tools/' as *;

.nav, .nav-stick {
    display: flex;
    position: fixed;
    width: 100%;
    margin: 0;
    padding-left: 1px;
    padding-right: 1px;

    @include medium {
        padding-left: 30px;
        padding-right: 30px;
    }
    @include large {
        padding-left: 60px;
        padding-right: 60px;
    }

    &-logo {
        margin-top: 17px;
        
        @include medium {
            margin-top: 10px;
        }
    }

    &-social {
        display: flex;
        justify-content: flex-end;
        margin-top: 23px;

        @include medium{
            margin-top: 25px;
            
        }
        &--arrow {
            display: none;

            @include medium {
                display: block;
            }
        }
    }
}

.nav-stick {
    background-color: white;
    box-shadow: 0 0 35px black;
    height: 80px;
    // display: none;
    opacity: 0;
    position: fixed;
    z-index: 3;
    transition: .5s;

    &-logo {
        color: black;
        margin-top: 17px;

        @include medium {
            margin-top: 10px;
        }
    }

    &-icon {
        color: black;
    }

    &-display {
        // display: flex;
        opacity: 1;
    }
}
