@use '../01-settings/' as *;
@use '../02-tools/' as *;

.nav {
    display: flex;
    position: absolute;
    width: 100%;
    margin: 0;
    padding-left: 1px;
    padding-right: 1px;

    @include medium {
        padding-left: 30px;
        padding-right: 30px;
    }
    @include large {
        padding-left: 60px;
        padding-right: 60px;
    }

    &-logo {
        margin-top: 17px;
        
        @include medium {
            margin-top: 20px;
        }
    }

    &-social {
        display: flex;
        justify-content: flex-end;
        margin-top: 23px;

        @include medium{
            margin-top: 25px;
            
        }
        &--arrow {
            display: none;

            @include medium {
                display: block;
            }
        }
    }
}