@use '../01-settings/' as *;

.text-color-white {
    color: #fff;
    z-index: 1;
}
.text-bold {
    font-weight: bold;
}
.text-left {
    text-align: left;
}
.text-right {
    text-align: right;
}
.text-center {
    text-align: center;
}