$color1 : #080C0D;
$color2 : #f3f2ef;
$color3 : #F2AA52;
$color4 : #D97B59;
$color5 : #F2B6A0;

$color-black: $color1;
$color-gray: $color2;
$color-yellow: $color3;
$color-orange: $color4;
$color-pink: $color5;

$color-bg-about: #F2AA52;

$color-bg-footer: #F2AA52;

$font-base: 10px;

$grid-base: $font-base;
$gutter: 1.5 * $grid-base;

$bp-md: 768px;
$bp-lg: 1240px;