@use '../01-settings/' as *;
@use '../02-tools/' as *;

.site-section {
    min-height: 20vh;
    padding-top: 60px;

    @include medium {
        padding-top: 130px;
        min-height: 20vh;
        padding-top: 100px;
    }

    @include large {
        min-height: 30vh;
        padding-top: 60px;
    }

    &--bg-color {
        background-color: $color-gray;
    }

    &__h3 {
        margin: 0 auto;
        font-weight: 300;
    }
}