@use '../01-settings/' as *;
@use '../02-tools/' as *;

.site-work {
    min-height: 50vh;
    position: relative;

    &--bg {
        display: none;

        @include medium {
        background: url('../assets/img/bg_work.jpg') center/cover;
        width: 50%;
        height: 100%;
        display: block;
        overflow: hidden;
        position: absolute;
        }
    }

    &--bgcolor {
        background-color: $color-green;
    }

    &--caption {
        text-align: center;
        padding-top: 70px;
        padding-bottom: 70px;

        @include medium {
        position: absolute;
        top: 23%;
        left: 58%;
        padding-bottom: 70px;
        }
    }

    &-h3 {
        color: white;
        font-size: 3.5rem;
        padding-bottom: 25px;
    }

    &-h4 {
        color: white;
        font-size: 2.2rem;
        font-family: 'Ubuntu', sans-serif;
        line-height: 3rem;
        font-weight: 300;
    }

    &-button {
        background: none;
        font-family: 'Ubuntu', sans-serif;
        font-size: 2rem;
        font-weight: 400;
        border: 2px solid white;
        color: white;
        padding: 10px;
        width: 70%;
        margin-top: 25px;
        cursor: pointer;
        transition: .5s ease-in-out;
        &:hover{    
            background-color: white;
            color: black;
        }
    }
}